.h1-wrapper {
    background-color: coral;
    padding: 30px;
    text-align: center;
}

h1 {
    color:blue;
    text-align: center;

}

.img{

    display:flex;
    justify-content: flex-start;
    align-items: center;
}

img{
    height: 300px;
    margin-right: 50px;
    margin-left: 50px;
}

.para{
    font-size: 18px;
    margin-right: 50px;
}

